<div class="container">
  <p-card header="Assunzione">
    <div class="form">
      <form [formGroup]="dipendenteForm" (ngSubmit)="addUser()">
        <div class="field">
          <label for="nome">Nome</label><br>
          <input type="text" inputId="nome" pInputText placeholder="Nome"  formControlName="nome"/>
          <br><small class="p-error" *ngIf="dipendenteForm.get('nome').invalid && dipendenteForm.get('nome').dirty">
            Campo obbligatorio
          </small>
        </div>
  
        <div class="field">
          <label for="Cognome">Cognome</label><br>
          <input type="text" inputId="cognome" pInputText placeholder="Cognome" formControlName="cognome"/>
          <br><small class="p-error" *ngIf="dipendenteForm.get('cognome').invalid && dipendenteForm.get('cognome').dirty">
            Campo obbligatorio
          </small>
        </div>
  
        <div class="field">
          <label for="data_nascita">Data di nascita</label><br>
          <p-calendar inputId="data_nascita" formControlName="data_nascita" [maxDate]="now" [showIcon]="true"></p-calendar>
          <br><small class="p-error" *ngIf="dipendenteForm.get('data_nascita').invalid && dipendenteForm.get('data_nascita').dirty">
            Campo obbligatorio
          </small>
        </div>
  
        <div class="field">
          <label for="data_assunzione">Data di assunzione</label><br>
          <p-calendar inputId="data_assunzione" formControlName="data_assunzione" [maxDate]="now" [showIcon]="true"></p-calendar>
          <br><small class="p-error" *ngIf="dipendenteForm.get('data_assunzione').invalid && dipendenteForm.get('data_assunzione').dirty">
            Campo obbligatorio
          </small>
        </div>

        <div class="field">
          <label for="sede_appartenenza">Sede d'appartenenza</label><br>
          <p-dropdown appendTo="body" inputId="sede_appartenenza" formControlName="sede_appartenenza" [options]="sedi" placeholder="Seleziona una sede"></p-dropdown>
          <br><small class="p-error" *ngIf="dipendenteForm.get('sede_appartenenza').invalid && dipendenteForm.get('sede_appartenenza').dirty">
            Campo obbligatorio
          </small>
        </div>
        <button pButton type="submit" label="Assumi" [disabled]="dipendenteForm.invalid"></button>
      </form>
      <div class="button-container">
        <button
          pButton
          type="button"
          label="Visualizza"
          class="p-button-success"
          (click)="navigateTo('visualizza')"
        ></button>
        <button
          pButton
          type="button"
          label="Torna indietro"
          class="p-button-primary"
          (click)="navigateTo('home')"
        ></button>
      </div>
    </div>
  </p-card>
</div>
