<p-card header="Assunzione">
  <div class="form">
    <form [formGroup]="dipendenteForm" (ngSubmit)="addUser()">
      <div class="field">
        <label for="nome">Nome</label><br>
        <input
          type="text"
          pInputText
          placeholder="Nome"
          formControlName="nome"
        />
        <small class="p-error" *ngIf="dipendenteForm.get('nome').invalid && dipendenteForm.get('nome').dirty">
          Campo obbligatorio
        </small>
      </div>

      <div class="field">
        <label for="cognome">Cognome</label><br>
        <input
          type="text"
          pInputText
          placeholder="Cognome"
          formControlName="cognome"
        />
        <small class="p-error" *ngIf="dipendenteForm.get('cognome').invalid && dipendenteForm.get('cognome').dirty">
          Campo obbligatorio
        </small>
      </div>

      <div class="field">
        <label for="data_nascita">Data di nascita</label><br>
        <p-calendar inputId="data_nascita" formControlName="data_nascita" [maxDate]="now" [showIcon]="true"></p-calendar>
        <small class="p-error" *ngIf="dipendenteForm.get('data_nascita').invalid && dipendenteForm.get('data_nascita').dirty">
          Campo obbligatorio
        </small>
      </div>

      <div class="field">
        <label for="data_assunzione">Data assunzione</label><br>
        <p-calendar inputId="data_assunzione" formControlName="data_assunzione" [maxDate]="now" [showIcon]="true"></p-calendar>
        <small class="p-error" *ngIf="dipendenteForm.get('data_assunzione').invalid && dipendenteForm.get('data_assunzione').dirty">
          Campo obbligatorio
        </small>
      </div>


      <div class="field">
        <label for="sede_appartenenza">Sede appartenenza</label><br>
        <p-dropdown appendTo="body" inputId="sede_appartenenza" formControlName="sede_appartenenza" [options]="sedi" placeholder="Seleziona una sede"></p-dropdown>
        <small class="p-error" *ngIf="dipendenteForm.get('sede_appartenenza').invalid && dipendenteForm.get('sede_appartenenza').dirty">
          Campo obbligatorio
        </small>
      </div>
      <button pButton type="submit" label="Assumi" [disabled]="dipendenteForm.invalid"></button>
    </form>
    <div class="button-container">
      <button
        pButton
        type="button"
        label="Visualizza"
        class="p-button-success"
        (click)="navigateTo('visualizza')"
      ></button>
      <button
        pButton
        type="button"
        label="Torna indietro"
        class="p-button-primary"
        (click)="navigateTo('home')"
      ></button>
    </div>
  </div>

</p-card>
